.todoItem{
    display: flex;
    align-items: center;
    width:100%;
    min-height: 40px;
    background-color: #fff;
    margin:6px 6px;
    border-radius: 12px;
}

.todoItem>p{ 
    flex:1;
}

.todoItem--done{
    text-decoration: line-through;
}